
.button{
	background-color: #fff;
	color: green;
	border-color: #ccc;
	padding: 6px 12px;
	border-radius: 2px;
	border: 0.5px;

}

.container1{   
	margin-right: 330px;   
	margin-left: 330px; 
}


.edit_delete{
	margin-top: 20px;
	border:0.5px solid black;
	border-radius: 5px;
	padding: 5px;
}

.v_type{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	border :1px solid orange;
}

.v_type:hover{
	background-color: orange;
}
